@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,400&display=swap");

/* Google login modification */
#credential_picker_container {
  height: 202px;
  top: 50% !important;
  transform: translate(-50%, -50%);
  left: 50%;
  padding-top: 2px;

  background-image: linear-gradient(to right, indigo, blue);
  border-radius: 9px;
}
